
.first {
  width:100%;
  height:10vh;
  display: flex;
  align-items: center;
  background: white;
}


.logo img {
  padding-left: 80px;
  height: 60px;
  width:100px;
}

.search {
  display: flex;
  flex-grow: 10;  
  padding: 0 10px;
  padding-left: 50px;
}

.search input {
  width: 50%;
  padding: 6px 10px;
  border: 1px solid grey;
  border-radius: 4px;
}

.right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.location {
  padding: 5px;
  padding-right: 45px;
}

.signin {
  background: #f84464;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  padding-right: 40px;
}

.signin:hover{
  background-color: darkorange;
}

.menu {
  font-size: 20px;
  padding-right: 30px;
}