*{
    margin:0;
    padding: 0;
}

.nav{
    width:100%;
    height:10vh;
    background-color: darkgreen;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 80px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 700;
}


.searchbar{
    width:40%;
    padding-left: 300px;
}



#search{
    width: 100%;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: azure;
    padding: 10px 40px;
    box-sizing: border-box;
}


.btn {
    border: none;
    background-color: blanchedalmond;
    color: grey;
    border-radius: 5px;
    border: 10px 20px;
}


.card-contain{
    width: 100%;
    min-height: 90vh;
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px 20px;
    justify-content:space-between;
    align-items: center;
    box-sizing: border-box;
}


.card{
    width: 250px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 5px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

.imgediv{
    width: 100%;
    height: 60%;
    border-radius: 20px;
}

.imagediv img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.text{
    width: 100%;
    height: 50%;
    display: flex;
    /* background-color: antiquewhite; */
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center ;
}

.cat{
    width: 60%;
    border: none;
    background-color: chocolate;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
}

.price{
    color: brown;
}